@using Mix.Cms.Lib
@using Mix.Cms.Lib.Services
@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
    string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);
    var about = MixCmsHelper.GetModule("about", ViewBag.culture);
    var aboutCates = await Mix.Cms.Lib.MixCmsHelper.GetNavigation("about", ViewBag.culture, Url);
}
<!-- About -->
<div id="goods" class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>@about.Title</h2>
                <p class="p-heading p-large">@Html.Raw(Model.Description)</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">



                @if (aboutCates != null)
                {
                    foreach (var item in aboutCates.MenuItems)
                    { 

                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="@item.Icon" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>@item.Title</strong></p>
                        <p class="job-title">@item.Description>

                    </div> <!-- end of team-member -->
                }
            }



            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->
