@using Mix.Cms.Lib
@using Mix.Cms.Lib.Services
@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
    string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);
    var contact = MixCmsHelper.GetModule("contact", ViewBag.culture);
}


@if (contact != null) {


<!-- Contact -->
<div id="contact" class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>@contact.Title</h2>
                <p>
                    @Html.Raw(Model.Description)
                </p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="map-responsive">
                    <iframe src="@contact.AttributeData.Data.Obj.map.Value" allowfullscreen></iframe>
                </div>
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Contact Form -->
                <form id="contactForm" data-toggle="validator" data-focus="false">
                    @foreach (var col in contact.Columns) {
                        switch (col.DataType) {
                            case Mix.Cms.Lib.MixEnums.MixDataType.Text:
                                <div class="form-group">
                                    <input type="text" class="form-control-input" id="@col.Name"  @(col.IsRequired ? "required" :"")>
                                    <label class="label-control" for="@col.Name">@col.Title</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                break;
                            case Mix.Cms.Lib.MixEnums.MixDataType.EmailAddress:
                                <div class="form-group">
                                    <input type="email" class="form-control-input" id="@col.Name" @(col.IsRequired ? "required" :"")>
                                    <label class="label-control" for="@col.Name">Email</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                break;
                            case Mix.Cms.Lib.MixEnums.MixDataType.Custom:
                                <div class="form-group">
                                    <select class="form-control-select" id="@col.Name" name="@col.Name">
                                        @foreach (var enu in col.Options) {
                                            <option value="@enu.Value">@enu.Value</option>
                                        }
                                        </select>
                                    
                                    <div class="help-block with-errors"></div>
                                </div>
                                break;
                            case Mix.Cms.Lib.MixEnums.MixDataType.MultilineText:
                                <div class="form-group">
                                    <textarea class="form-control-textarea" id="@col.Name" @(col.IsRequired ? "required" :"")></textarea>
                                    <label class="label-control" for="@col.Name">@col.Title</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                break;

                        }

                    }

                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">Send</button>
                    </div>
                    <div class="form-message">
                        <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->
}