@using Mix.Cms.Lib
@using Mix.Cms.Lib.Services
@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
    string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);
    var lightbox = MixCmsHelper.GetModule("lightbox", ViewBag.culture);
}
<!-- Details 2 -->
@if (lightbox != null)
{

    <div class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>@lightbox.Title</h2>


                        <ul class="list-unstyled li-space-lg">
                            @* @foreach (var light in lightbox.Columns)
                                {
                                    switch (light.DataType)
                                    {
                                        case Mix.Cms.Lib.MixEnums.MixDataType.Text:
                                            <li class="media">
                                                <i class="fas fa-check"></i><div class="media-body">@light.dot1</div>
                                            </li>

                                            break;
                                    }
                                }
                            *@
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">List building framework</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Easy database browsing</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">User administration</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Automate user signup</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Quick formatting tools</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Fast email checking</div>
                            </li>

                        </ul>


                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">@lightbox.AttributeData.Data.Obj.dot1.Value</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="@lightbox.AttributeData.Data.Obj.lightboxp1.Value" alt="alternative" style="margin-top: 100px;">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->


    <!-- end of details 2 -->
    <!-- Details Lightbox 2 -->
    <div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-12">
                    <div class="image-container">
                        <img class="img-fluid" src="@lightbox.AttributeData.Data.Obj.lightboxp2.Value" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 2 -->
}
