@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
@{
    string culture = ViewBag.culture;
    string assetFolder = Mix.Cms.Lib.MixCmsHelper.GetAssetFolder(ViewBag.culture);
    var header = Mix.Cms.Lib.MixCmsHelper.GetModule("header", ViewBag.culture);


}

<div class="yb-full-height " id="home">

    <section class="yb-profile-desc yb-dark-skin uk-light">
        <div class="yb-slide-bg uk-light" tabindex="-1" data-uk-slideshow="animation: fade; autoplay: true; draggable: false; pause-on-hover: false; autoplay-interval: 6000;">
            <ul class="uk-slideshow-items yb-slide-wrapper ">
                @{
                    var slider1 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("sliderone", ViewBag.culture));
                    var quote1 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("quoteone", ViewBag.culture));
                    if (!string.IsNullOrEmpty(slider1) || !string.IsNullOrEmpty(quote1))
                    {
                        <li class="uk-background-cover" data-uk-img data-src="@slider1">
                            <img src="@slider1" alt="" data-uk-cover>
                            <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                            <div class="uk-position-top-center uk-text-center uk-text-large uk-light uk-margin-xlarge-top">

                                <p>@quote1</p>
                            </div>
                        </li>
                    }

                    var slider2 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("slidertwo", ViewBag.culture));
                    var quote2 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("quotetwo", ViewBag.culture));
                    if (!string.IsNullOrEmpty(slider2) || !string.IsNullOrEmpty(quote2))
                    {
                        <li class="uk-background-cover" data-uk-img data-src="@slider2">
                            <img src="@slider2" alt="" data-uk-cover>
                            <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                            if(!string.IsNullOrEmpty(quote2)){
                            <div class="uk-position-top-center uk-text-center uk-text-large uk-light uk-margin-xlarge-top">
                                <p>@quote2</p>
                            </div>
                            }
                            }

                        </li>
                    }

                    var slider3 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("sliderthree", ViewBag.culture));
                    var quote3 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("quotethree", ViewBag.culture));
                    if (!string.IsNullOrEmpty(slider3) || !string.IsNullOrEmpty(quote3))
                    {
                        <li class="uk-background-cover" data-uk-img data-src="@slider3">
                            <img src="@slider3" alt="" data-uk-cover>
                            <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                            <div class="uk-position-top-center uk-text-center uk-text-large uk-light uk-margin-xlarge-top">

                                <p>@quote3</p>
                            </div>
                        </li>
                    }
                    var slider4 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("sliderfour", ViewBag.culture));
                    var quote4 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("quotefour", ViewBag.culture));
                    if (!string.IsNullOrEmpty(slider4) || !string.IsNullOrEmpty(quote4))
                    {
                        <li class="uk-background-cover" data-uk-img data-src="@slider4">
                            <img src="@slider4" alt="" data-uk-cover>
                            <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                            <div class="uk-position-top-center uk-text-center uk-text-large uk-light uk-margin-xlarge-top">

                                <p>@quote4</p>
                            </div>
                        </li>
                    }
                    var slider5 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("sliderfive", ViewBag.culture));
                    var quote5 = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("quotefive", ViewBag.culture));
                    if (!string.IsNullOrEmpty(slider5) || !string.IsNullOrEmpty(quote5))
                    {
                        <li class="uk-background-cover" data-uk-img data-src="@slider5">
                            <img src="@slider5" alt="" data-uk-cover>
                            <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                            <div class="uk-position-top-center uk-text-center uk-text-large uk-light uk-margin-xlarge-top">

                                <p>@quote5</p>
                            </div>
                        </li>
                    }
                }


            </ul>
        </div>



    </section>


</div><!-- end home section -->
