@using Mix.Cms.Lib
@using Mix.Cms.Lib.Services
@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
@{
    string assetFolder = Mix.Cms.Lib.MixCmsHelper.GetAssetFolder(ViewBag.culture);
    string templateFolder = Mix.Cms.Lib.MixCmsHelper.GetTemplateFolder(ViewBag.culture);

    var aboutCates = await Mix.Cms.Lib.MixCmsHelper.GetNavigation("About", ViewBag.culture, Url);
    var aboutServs = await Mix.Cms.Lib.MixCmsHelper.GetNavigation("AboutServices", ViewBag.culture, Url);

    var attributes_set_data = Mix.Cms.Lib.ViewModels.MixAttributeSetDatas.ReadMvcViewModel.Repository.GetModelListAsync("Priority", Mix.Heart.Enums.MixHeartEnums.DisplayDirection.Asc, 0, 20);
    var attributes_set_data_categories = attributes_set_data.Result.Data.Items.Where(p => p.AttributeSetName == "sys_category").OrderBy(o => o.Priority);

    var attributes_set_value = Mix.Cms.Lib.ViewModels.MixAttributeSetValues.ReadMvcViewModel.Repository.GetModelListAsync("Priority", Mix.Heart.Enums.MixHeartEnums.DisplayDirection.Asc, 0, 20);
    var attributes_set_value_categories = attributes_set_value.Result.Data.Items.Where(p => p.AttributeSetName == "sys_category").OrderBy(o => o.Priority);
    var posts = await Mix.Cms.Lib.ViewModels.MixPosts.ReadViewModel.Repository.GetModelListAsync("CreatedDateTime", Mix.Heart.Enums.MixHeartEnums.DisplayDirection.Desc, 20, 0);


}
<!-- about section -->


<section id="about" class="yb-section">
    <div class="yb-my-profile">
        <div class="uk-container">
            <div class="uk-grid-collapse uk-child-width-expand@m" data-uk-grid>

                <div>
                    <div class="yb-my-profile-img uk-background-cover uk-background-norepeat uk-background-top-center" data-src="@Model.ImageUrl" data-uk-img data-uk-lightbox>
                        @if (!string.IsNullOrEmpty(Mix.Cms.Lib.Services.MixService.GetConfig<string>("about_video", ViewBag.culture)))
                        {
                            <a href="@(Mix.Cms.Lib.Services.MixService.GetConfig<string>("about_video", ViewBag.culture))" class="yb-my-intro">
                                <span data-uk-icon="icon: play; ratio: 2"></span>
                                <span class="yb-my-intro-text">Video</span>
                            </a>
                        }
                    </div>
                </div>

                <div>
                    <div class="yb-my-profile-desc">
                        <div class="yb-section-point-wrapper">
                            <div class="yb-section-point right">
                                <span>@Model.Title</span>
                            </div>
                        </div>
                        <div class="yb-my-profile-desc-top">

                            <p>
                                @Html.Raw(Model.Description)
                            </p>

                            @*@foreach (var post in posts.Data.Items)
                                {
                                    <a href="" class="yb-my-intro">
                                        <span data-uk-icon="icon: play; ratio: 2"></span>
                                        <span class="yb-my-intro-text">Video</span>
                                    </a>
                                }*@
                        </div>
                        @{
                            var journey = (Mix.Cms.Lib.Services.MixService.GetConfig<string>("journey", ViewBag.culture));
                            if (!string.IsNullOrEmpty(journey))
                            {
                                <a href="/aboutus" class="uk-icon-button uk-margin-medium-bottom uk-width-1-2 uk-margin-xlarge-left" data-uk-icon style="background-image: linear-gradient( -90deg, rgb(49 207 171) 0%, #50E3C2 100%);color:white">
                                    @journey
                                </a>

                            }

                        }


                        <div class="yb-my-profile-desc-bottom yb-bg-soft">
                            <ul class="yb-my-profile-desc-info uk-list">
                                @if (aboutCates != null)
                                {
                                    foreach (var item in aboutCates.MenuItems)
                                    {

                                        <li>
                                            <span>@item.Title</span> : @item.Description
                                        </li>

                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="yb-my-profile">
    </div>
    <div class="yb-border-top yb-border-bottom ">
        <div class="uk-container">
            <div data-uk-grid class="yb-box-services uk-child-width-1-4@l uk-child-width-1-2 uk-text-center uk-grid-divider">

                @if (aboutServs != null)
                {
                    foreach (var item in aboutServs.MenuItems)
                    {
                        <div>
                            <div class="yb-box-service">
                                <a class="uk-icon-link" href="javascript:void(0)" onclick="clickHandle(event, '@item.Id')">
                                    <span class="uk-icon-link" data-uk-icon="icon: grid; ratio:1.5" type="button"></span>
                                    <h5>@item.Title</h5>

                                </a>

                            </div>

                        </div>


                    }

                }


            </div>

        </div>


        <div class=" yb-border-top uk-container">
            <div class="uk-grid-collapse uk-child-width-expand@m" data-uk-grid>
                <div class="yb-my-profile-desc">
                    @if (aboutServs != null)
                    {
                        foreach (var item in aboutServs.MenuItems)
                        {

                            <div id="@item.Id" class="uk-hidden tabcontent uk-card uk-card-default uk-card-body uk-width-1-1@m uk-card-hover uk-animation-fade">
                                <p style="font-style: italic;">@item.Description</p>
                            </div>
                        }

                    }


                </div>
            </div>

        </div>
    </div>
</section><!-- end about section -->



<script>

    function clickHandle(evt, itemName) {
        let i, tabcontent;

        // This is to clear the previous clicked content.
        tabcontent = document.getElementsByClassName("tabcontent");

        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }


        // Display the clicked tab and set it to active.
        document.getElementById(itemName).style.display = "block";
        document.getElementById(itemName).classList.remove("uk-hidden");
        evt.currentTarget.className += " active";
    }

</script>
