@using Mix.Cms.Lib
@using Mix.Cms.Lib.Services
@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel

@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
    string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);

    var attributes_set_data = Mix.Cms.Lib.ViewModels.MixAttributeSetDatas.ReadMvcViewModel.Repository.GetModelListAsync("Priority", Mix.Heart.Enums.MixHeartEnums.DisplayDirection.Asc, 0, 20);
    var attributes_set_data_categories = attributes_set_data.Result.Data.Items.Where(p => p.AttributeSetName == "sys_category").OrderBy(o => o.Priority);

    var attributes_set_value = Mix.Cms.Lib.ViewModels.MixAttributeSetValues.ReadMvcViewModel.Repository.GetModelListAsync("Priority", Mix.Heart.Enums.MixHeartEnums.DisplayDirection.Asc, 0, 20);
    var attributes_set_value_categories = attributes_set_value.Result.Data.Items.Where(p => p.AttributeSetName == "sys_category").OrderBy(o => o.Priority);

    var posts = await Mix.Cms.Lib.ViewModels.MixPosts.ReadViewModel.Repository.GetModelListAsync("CreatedDateTime", Mix.Heart.Enums.MixHeartEnums.DisplayDirection.Desc, 20, 0);

}

<!-- resume section -->
<section class="yb-section " id="resume">
    <div class="yb-section-point-wrapper">
        <div class="uk-container">
            <div class="yb-section-point">

                <span>@(Mix.Cms.Lib.Services.MixService.TranslateString("resume_title", ViewBag.culture))</span>
            </div>
        </div>
    </div>
    <div class="uk-container">
        <div data-uk-grid class="uk-grid-divider">
            <div class="uk-width-1-4@s uk-visible@s uk-margin-large-bottom yb-section-padding-top " id="resume-nav-wrapper">
                <div data-uk-sticky="bottom: #resume-nav-wrapper; offset: 100; media: 650">
                    <ul class="yb-nav-left uk-tab-left uk-tab" data-uk-scrollspy-nav="closest: li; scroll: false; offset: 120">
                        @foreach (var attr in attributes_set_data_categories.OrderBy(o => o.Priority)) {
                            if (attributes_set_value_categories.Any(p => p.DataId == attr.Id && p.AttributeFieldName == "title")) {
                                if (attributes_set_value_categories.FirstOrDefault(p => p.DataId == attr.Id && p.AttributeFieldName == "type").StringValue == "Module") {
                                    <li class="uk-active">
                                        <a href="#@attr.Id" class="yb-inner-link" data-offset="120">
                                            <span data-uk-icon="minus"></span>
                                            @attributes_set_value_categories.FirstOrDefault(p => p.DataId == attr.Id && p.AttributeFieldName == "title").StringValue
                                        </a>
                                    </li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
            <div class="uk-width-expand@s yb-section-padding-top">

                @foreach (var attr in attributes_set_data_categories.OrderBy(o => o.Priority)) {
                    <div>
                        @if (attributes_set_value_categories.Any(p => p.DataId == attr.Id && p.AttributeFieldName == "title")) {
                            var attribute_set_title = attributes_set_value_categories.FirstOrDefault(p => p.DataId == attr.Id && p.AttributeFieldName == "title").StringValue;
                            if (attributes_set_value_categories.FirstOrDefault(p => p.DataId == attr.Id && p.AttributeFieldName == "type").StringValue == "Module") {
                                <h2 class="yb-section-title uk-heading-line" id="@attr.Id">
                                    <span>@attribute_set_title</span>
                                </h2>
                                <div class="yb-resume-list">
                                    <ul class="uk-list uk-list-large uk-list-divider">

                                        @foreach (var post in posts.Data.Items.Where(p => p.ListCategory.Contains(attribute_set_title))) {
                                            <li>
                                                <div class="yb-resume-item">
                                                    <div class="yb-resume-item-date">
                                                        <div class="yb-resume-item-date-icon"> <span data-uk-icon="calendar"></span></div>
                                                        <div class="yb-resume-item-date-text"><span>@post.Excerpt</span></div>
                                                    </div>
                                                    <h4 class="yb-section-title"> @post.Title</h4>

                                                    <div class="uk-text-small">
                                                        <p>
                                                            @Html.Raw(post.Content)

                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>

                            }
                        }
                    </div>
                    <section>
                    </section>
                }


            </div>
        </div>
    </div>
    <div class="yb-section yb-section-padding uk-background-cover uk-background-fixed " data-uk-parallax="bgy: -200" data-src="@(Mix.Cms.Lib.Services.MixService.GetConfig<string>("cv_background", ViewBag.culture))" data-uk-img>
        <div class="yb-overlay-primary uk-position-cover"></div>
        <div class="uk-container uk-text-center uk-position-relative">
            <div data-uk-grid class="uk-grid-small  uk-flex-center">
                <div>
                    <a href="@(Mix.Cms.Lib.Services.MixService.GetConfig<string>("cv_file", ViewBag.culture))" download class=" yb-btn uk-button uk-button-primary uk-button-large">@(Mix.Cms.Lib.Services.MixService.TranslateString("resume_download_cv", ViewBag.culture))</a>
                </div>
                <div>
                    <a href="#contact" class="yb-inner-link yb-btn uk-button uk-button-danger  uk-button-large">@(Mix.Cms.Lib.Services.MixService.TranslateString("resume_contact", ViewBag.culture))</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- end resume section -->
